<html> 
<head> 
<title>Segments</title> 
<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&amp;sensor=false"></script>
<style type="text/css"> 
#map {width:890px;height:550px;float:left;}
</style> 
<script type='text/javascript'>
function initialize() {
    var myLatlng = new google.maps.LatLng(37.6, -122.2);

    var myOptions = {
        zoom: 9,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROAD
    }
    var styles = [{
        stylers: [
            { hue: "#3c636b" },
            { saturation: -65 }
        ]
    },{
        featureType: "road",
        elementType: "geometry",
        stylers: [
            { visibility: "simplified" }
        ]
    },
    {
        featureType: "all",
        elementType: "labels",
        stylers: [
            { visibility: "off" }
        ]
    }
    ];

    var map = new google.maps.Map(document.getElementById("map"), myOptions);

    map.setOptions({styles: styles});

    var Colors = ["#008000", "000000", "#0000FF", "#ff0000"];

'{% for label, poly in data %}'

    var decodedPath1 = google.maps.geometry.encoding.decodePath('{{poly}}');

    var setRegion = new google.maps.Polyline({
        path: decodedPath1,
        strokeColor: Colors['{{label}}'],
        strokeOpacity: 1.0,
        strokeWeight: 3,
        map: map
    });
'{% endfor %}'
}
</script> 
</head> 
<body onload="initialize()" style="font-family:futura;"> 
     <h1> Bay Area Strava Segments Classifier: Physical Data</h1>
     <form action="/physical_clusters" method='POST' >
        <input type="checkbox" name="cluster1" value=0 > Moderately flat terrain
        <br>
        <input type="checkbox" name="cluster2" value=1 > Steeper climbs
        <br>
        <input type="checkbox" name="cluster3" value=2 > Rolling hills
        <br>
        <input type="checkbox" name="cluster4" value=3 > Longer steady climbs
        <br>
        <input type="submit" value="Submit">
    </form> 
<div id="map"></div>
</body> 
</html>


